@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	transition: 300ms ease-in-out all;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f7e9e0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.activeClass {
	color: #64c4d6 !important;
}
.activeClass svg {
	margin-top: 0.3vw !important;
	transform: rotate(1.25turn) !important;
}
.activeClass svg path {
	stroke: #64c4d6 !important;
}
.activeClass::before {
	transform: scaleX(1) !important;
}
.effectImage {
	transform: translateY(-100vw);
	transition: 0.1s;
}

@media (max-width: 650px) {
	.container {
		grid-template-columns: 40% 60%;
		grid-template-rows: 85vh 35vh;
	}
}

@media (max-width: 450px) {
	.container {
		grid-template-columns: 100%;
		grid-template-rows: 50px 70vh 45vh;
	}

	.activeClass svg {
		margin-top: 0.5vw !important;
		transform: rotate(1.5turn) !important;
	}

	.activeClass svg path {
		stroke: #64c4d6 !important;
	}
}

@media (max-height: 670px) and (max-width: 450px) {
	.container {
		grid-template-columns: 100%;
		grid-template-rows: 50px 70vh 50vh;
	}
}
/* ---------------------------------------------- */
