@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: 300ms ease-in-out all;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7e9e0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 4.5vw;
}

@media (min-width: 550px) {
  html {
    font-size: 3vw;
  }

  .container {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 32rem 1fr;

    width: 100%;
  }
}

.container {
  position: relative;
  overflow-y: hidden;
  width: 100%;
}

.activeClass {
  color: #64c4d6 !important;
}
.activeClass svg {
  margin-bottom: 0 !important;
  transform: rotate(1.25turn) !important;
}
.activeClass svg path {
  fill: #64c4d6 !important;
  stroke: #64c4d6 !important;
}
.activeClass::before {
  transform: scaleX(1) !important;
}
.effectImage {
  transform: translateY(-100vw);
  transition: 0.1s;
}
