@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: 300ms ease-in-out all;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7e9e0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 4.5vw;
}

@media (min-width: 1500px) {
  html {
    font-size: 1vw;
  }

  .container {
    max-width: 80rem;
    min-width: 55rem;
    height: 55rem;
    border: 1px solid red;
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
}

.activeClass {
  color: #64c4d6 !important;
}
.activeClass svg {
  transform: rotate(1.25turn) !important;
  margin-bottom: 0 !important;
}
.activeClass svg path {
  stroke: #64c4d6 !important;
  fill: #64c4d6 !important;
}
.activeClass::before {
  transform: scaleX(1) !important;
}
.effectImage {
  transform: translateY(-100vw);
  transition: 0.1s;
}
